{% extends 'dashboard_base.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Профиль</h1>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ request.user.avatar.url }}" alt="">
                    </div>
                </div>
                <div class="col-md-9" style="color: #06205b">
                    <h5>ФИО</h5>
                    <div class="card" style="width: 25rem; padding: 5px 0 0 5px">
                        <h5>{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                    </div>
                    <br>
                    <h5>Дата рождения</h5>
                    <div class="card" style="width: 25rem; padding: 5px 0 0 5px">
                        <h5>{{ request.user.dob }}</h5>
                    </div>
                    <br>
                    <h5>Телефон</h5>
                    <div class="card" style="width: 25rem; padding: 5px 0 0 5px">
                        <h5>{{ request.user.phone }}</h5>
                    </div>
                    <br>
                    <h5>E-mail</h5>
                    <div class="card" style="width: 25rem; padding: 5px 0 0 5px">
                        <h5>{{ request.user.email }}</h5>
                    </div>
                </div>
            </div>

{% endblock %}